<!DOCTYPE html>
<html ng-app="yodApp" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/justified-nav.css" rel="stylesheet">
        <link href="css/carousel.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <!-- roboto font -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.7/angular-strap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.7/angular-strap.tpl.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jQuery.js"></script>
        <script src="js/app.js"></script>
        <script src="//www.parsecdn.com/js/parse-1.6.12.min.js"></script>
        <script src="js/Mentor.js"></script>
        <script src="js/yodaParse.js"></script>
        <script src="js/helper.js"></script>
        <script src="js/users.js"></script>
        <!--<script type="text/template" id="dror">
            <a href="<%=url%>"><%=name%></a>
          </script>-->


    </head>

<body ng-controller="HomeController">

    <!-- Jumbotron -->
    <div class="mainCover jumbotron">
            <img src="images/logo.png" alt="yodapp_logo" class="logo center-block">
            <img src="images/yodapp.png" alt="yodapp" class="logo-name center-block">
            <h1 class="text-center">Experience a Profession <br> Then Decide.</h1>
            <!-- Search Bar -->
            <p class="search-bar">
                <input class="search-field" type="text" id="categorySearch" ng-model="selectedState"
                       bs-options="state for state in states" placeholder="Search for your Dream Job" bs-typeahead
                       onkeydown = "if (event.keyCode == 13)
                        document.getElementById('searchBtn').click()">
                <button id="searchBtn" class="search-icon" onclick="isCategory()">
                    <img src="images/search-50.png" height="25px" width="25px">
                </button>
            </p>
            <!--  End Search Bar -->
            <p class="text-center sub-text"> Want to be a mentor ? <a href="mentors.html"> Click Here! </a></p>
            <p id="errCategory" class="text-center sub-text" style="position: inherit; display: none"> Sorry Choose another Category </p>
    </div>

    <!--Marketing-->
    <div class="container marketing">
        <div class="marketing-header">How it Workes?</div>
        <div class="row">
            <div class="col-lg-4">
                <div class="img-circle"></div>
                <p class="marketing-sub-header">Search For Your Dream Job</p>
            </div>
            <div class="col-lg-4">
                <div class="img-circle mentor-icon"></div>
                <p class="marketing-sub-header">Choose a Mentor</p>
            </div>
            <div class="col-lg-4">
                <div class="img-circle calender-icon"></div>
                <p class="marketing-sub-header">Set Up a Meeting</p>
            </div>
        </div><!-- /.row -->

        <!-- Search Bar -->
        <div class="jumbotron">
            <p class="search-bar">
                <input class="search-field search-field-blue" type="text" id="categorySearch" ng-model="selectedState"
                       bs-options="state for state in states" placeholder="Search for your Dream Job"  bs-typeahead
                       onkeydown = "if (event.keyCode == 13)
                        document.getElementById('searchBtn2').click()">
                <button id="searchBtn2" class="search-icon search-icon-blue" onclick="isCategory()">
                    <img src="images/search-50.png" height="25px" width="25px">
                </button>
            </p>
        </div>
        <!-- FOOTER -->
        <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2016 Yodapp &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
    </div>
</body>

</html>