body {
    background-color: #9fd2c0 !important;
    padding-bottom: 20px;
}

.mentorsVideo {
    margin-bottom: 24px;
}

.profileImg {
    width: 140px;
}


.header{
  padding-top: 48px;
}

.searchBox{
  display: flex;
  padding-top:24px;
  padding-bottom: 24px;
}

.subHeader{
  padding-bottom: 12px;
}

.mainCover{
	margin-bottom: 0px;
}

.myMarketing{
	margin-top: 30px;
}

.y-input-group {
    display: flex;
}

.mentorProfileDiv {
    position: static !important;
}


