/*vars
@gray-darker:  lighten(#000, 13.5%); // #222
@gray-dark:    lighten(#000, 20%);   // #333
@gray:         lighten(#000, 33.5%); // #555
@gray-light:   lighten(#000, 46.7%); // #777
@gray-lighter: lighten(#000, 93.5%); // #eee
@Pink: #ff3366
@Tchelet: #50d2c2;
@Purpel:  #d667cd;

*/

h1 {
    font-family: Roboto;
    color: #ffffff;
    font-size: 56px; /* Approximation due to font substitution */
    font-weight: 100;
    line-height: 85px; /* Approximation due to font substitution */
    text-align: center;
    margin-top: 16px;
}

body {
    padding-bottom: 20px;
    background-color: #0f0f0f;
}

.mentorsVideo {
    margin-bottom: 24px;
}

.profileImg {
    width: 140px;
}

.header {
    padding-top: 48px;
}

.searchBox {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
}

.subHeader {
    padding-bottom: 12px;
}

.mainCover {
    margin-bottom: 0px;
    background-color: transparent;
}

.myMarketing {
    margin-top: 30px;
}

.y-input-group {
    display: flex;
}

.mentorProfileDiv {
    position: static !important;
}

.logo-circle {
    border-radius: 50%;
    background-color: #ffffff;
    width: 300px;
    height: 300px;
    position: relative;
}

.logo-icon {
    width: 182px;
    height: 196px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.logo-name {
    margin-top: 18px;
    width: 256px;
    height: 103px;
}

.search-bar {
    margin-top: 36px;
    display: -webkit-box;
}
.search-btn {
    background-color: #ff3366;
    width: 504px;
    height: 103px;
}

.search-icon {
    background-color:  #ff3366;
    width: 102px;
    height: 103px;
    margin-left: 2px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

}




