/*vars
@gray-darker:  lighten(#000, 13.5%); // #222
@gray-dark:    lighten(#000, 20%);   // #333
@gray:         lighten(#000, 33.5%); // #555
@gray-light:   lighten(#000, 46.7%); // #777
@gray-lighter: lighten(#000, 93.5%); // #eee
@Pink: #ff3366
@Tchelet: #50d2c2;
@Purpel:  #8c88ff;

*/

body {
    padding: 0px;
}

h1 {
    font-family: Roboto;
    color: #ffffff !important;
    font-weight: 100;
    text-align: center;
    font-size: 32px;
    line-height: 42px;
    margin-top: 24px;
}

h2 {
    font-family: Roboto;
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    padding-top: 36px;
    margin-top: 0px;
}

h3 {
    font-family: Roboto;
    color: #dddddd;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 12px;
}

.login-header{
    padding-top: 72px;
}

.login-cover {
    width: 100%;
    height: 228px;
    background: #2d4373 url(https://github.com/daniel818/miLAB-Project/blob/master/www/images/design.png?raw=true);
    background-size: cover;
    background-position: center;
    margin-bottom: 48px;
}

#number-circle{
    border-radius: 50%;
    background-color: #50d2c2;
    width: 75px;
    height: 75px;
    font-family: Roboto;
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
    line-height: 75px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px ;
}

.facebook-login{
    margin-bottom: 12px;
    text-align: center;
}


.facebook-btn{
    background-color: #3b5998;
    width: 67%;
    max-width: 608px;
    height: 52px;
    font-family: Roboto;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    display: inline-block;
}

#id {
    text-align: center;
}

.facebook-btn:hover{
    background-color: #2d4373;
}

.facebook-icon{
    background-color: #3b5998;
    width: 52px;
    height: 52px;
    margin-right: -3px;
    padding-top: 12px;
    display: inline-block;
}

.note {
    font-family: Roboto;
    color: #777777;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

textarea.form-control {
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.pink-btn{
    background-color: #ff3366;
    width: 303px;
    height: 52px;
    font-family: 'Roboto';
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.2px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    bottom: 24px;
    left: 0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
}

.data-label {
    font-family: Roboto;
    color: rgba(29, 29, 38, 0.5);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.paragraph {
    font-family: 'Roboto';
    color: #1B1B24;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
}

.company {
    font-family: 'Roboto';
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: -4px;
}

.marker{
    background-color: #50d2c2;
    width: 21px;
    height: 3px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
}

.purpel{
    background-color: #8c88ff;
}

.line {
    background-color: rgba(29, 29, 38, 0.05);
    width: 100%;
    height: 1px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}

.calender-icon{
    padding-right: 12px;
    padding-bottom: 6px;
}

.carousel-control{
    background-color: inherit;
    opacity: 0.6;

}

.carousel-control.right {
    right: -42px;
    background-image: none;

}

.carousel-control.left {
    left: -42px;
    background-image: none;
}


.mainCover {
    margin: 0px;
    padding: 0px;
    padding-top: 10%;
    background-image: url("https://github.com/daniel818/miLAB-Project/blob/master/www/images/home_cover.png?raw=true");
    background-size: cover;
    height: 731px;
    background-position: center;
}

.marketing {
    padding-top: 42px;
}

.carousel {
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    width: 80%;
    max-width: 385px;
}

.carousel-caption {
    bottom: auto;
    padding-top: 54px;
    text-shadow: none;
    right: auto;
    left: auto;
    padding-left: 18px;
    padding-right: 18px;
    width:100%;
}

.carousel .item {
    background-color: #ffffff;
}

.carousel-header {
    margin-top: -18px;
    margin-left: 42px;
    font-family: Roboto;
    color: #50d2c2;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}

.carousel-cover {
    width: 100%;
    height: 180px;
    text-align: center;
    background: #2d4373 url(https://github.com/daniel818/miLAB-Project/blob/master/www/images/design.png?raw=true);
    background-size: cover;
    background-position: center;
}


.carousel-header-white {
    font-family: Roboto;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}

.meetingBTN {
    background-color: #ff3366;
    width: 88%;
    height: 50px;
    font-family: Roboto;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    bottom: 18px;
    right: 6%;
    border: 0px;
}

.img-circle {
    display: block;
    border-radius: 50%;
    border: 1px solid #ff3366;
    background-color: #ffffff;
    width: 140px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
    background-image: url(https://github.com/daniel818/miLAB-Project/blob/master/www/images/Search-100.png?raw=true);
    background-position:50% 50%;
    background-repeat:no-repeat;
}

.mentor-icon {
    background-image: url(https://github.com/daniel818/miLAB-Project/blob/master/www/images/Contacts-100.png?raw=true);
}

.calender-icon {
    background-image: url(https://github.com/daniel818/miLAB-Project/blob/master/www/images/Calendar-100.png?raw=true);
}

.marketing-header {
    font-family: Roboto;
    color: #ff3366;
    font-size: 38px;
    font-weight: 100;
    line-height: 85px;
    text-align: center;
}

.marketing-sub-header {
    font-family: Roboto;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    line-height: 50px;
    text-align: center;
}

.sub-text {
    font-family: Roboto;
    color: #ffffff;
    opacity: 0.8;
    font-size: 16px !important;
    font-weight: 100 !important;
    margin-bottom: 0px !important;
    position: absolute;
    bottom: 12px;
    text-align: center;
    width: 100%;
}

.mentorsVideo {
    margin-bottom: 24px;
}

.profileImg {
    border-radius: 50%;
    width: 108px;
    height: 108px;
}

.header {
    padding-top: 48px;
}

.searchBox {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
}

.subHeader {
    padding-bottom: 12px;
}

.myMarketing {
    margin-top: 30px;
}

.y-input-group {
    display: flex;
}

.mentorProfileDiv {
    position: static !important;
}

.logo {
    width: 92px;
    height: 92px;
    max-width: 167px;
    max-height: 167px;

}

.logo-name {
    margin-top: 12px;
    height: 56px;
    width: 140px;
}

.search-bar {
    margin-top: 66px;
}

.search-field {
    vertical-align: top;
    background-color: #ff3366;
    height: 58px;
    width: 67%;
    max-width: 608px;
    border: 0px;
    font-family: Roboto;
    color: #ffffff;
    font-size: 18px;
    font-weight: 100;
    line-height: 50px;
    text-align: center;
    transform: scaleY(1.0071);
}

.search-field-blue {
    background-color: #50d2c2;
    width: 80%;
}

.search-icon {
    background-color: #ff3366;
    margin-left: -4px;
    height: 58px;
    width: 58px;
    border: 0px;
    vertical-align: top;
}

.search-icon-blue {
    background-color: #50d2c2;
    margin-left: -5px;
}

.carousel-indicators {
    position: relative;
    margin-top: 24px;
}

input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 3px #fff;
    padding: 3px 0px 3px 3px;
}

::-webkit-input-placeholder {
    color: #FFF;
}

:-moz-placeholder { /* Firefox 18- */
    color: #FFF;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #FFF;
}

:-ms-input-placeholder {
    color: #FFF;
}

a {
    color: #50d2c2;
    font-weight: 300;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    h1 {
        font-size: 58px;
        line-height: 78px;
    }

    .sub-text {
        position: static;
    }

    .mainCover {
        background-image: url("https://github.com/daniel818/miLAB-Project/blob/master/www/images/home_cover_big.png?raw=true");
    }

}

@media (max-width: 480px) {





}




